body{
    margin: 0%;
    padding: 0%;
}
.color-text{
    color: orange;
}
.top-left-side{
    font-size: 25px;
    border-left: 4px solid;
    border-image: linear-gradient(red,tomato);
    border-image-slice: 1;
    padding-left: 15px;

}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(tomato, red);
}
.parent{
    display: flex;
    margin-top: 4%;
    margin-left: 10%;
  
}
.photo img{
    width: 60%;
}
.right-side{
    text-align: center;
}
.bottom-left-side{
    font-size: 25px;
    
}